body{
    padding:50px 100px 100px 100px;
    align-items: center;
}
.text {
	font-size: 20px;
}
.text_title {
    font-size: 20px;
    font-weight: bold;
}
.area {
	text-align:left;
	vertical-align:middle;
	padding: 10px 0px 0px 0px;
}

.input {
    width: 300px;
    height: 40px;
    font-size: 28px;
    margin: 7px;
}

.button {
    width: 160px;
    height: 60px;
    background-color: #4CAF50; /* Green */
    border: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.imagediv {
    padding: 20px;
}